body{
    background-color: pink;
    color: white;
    margin: auto;
    margin-top: 100px;
    margin-left: auto;
}


.heart {
    margin: 200px;
    background-color: red;
    height: 400px;
    transform: rotate(-45deg);
    width: 400px;
    position: relative;
    
}

.heart::before,
.heart::after{
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    position: absolute;
}
.heart::before {
    top: -200px;
}

.heart::after{
    left: 200px;
}
